.Board {
	display: grid;
	padding: 10px;
	margin: 0 auto;
	grid-template-columns: 250px 250px 250px;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

.Board-deck-container {
	grid-row: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Board-deck {
	background-color: var(--color-primary);
	height: 80px;
	width: 50px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: var(--color-tertiary);
	font-size: 20px;
	position: relative;
	box-shadow: 0px 6px 0px 0px var(--color-shadow);
}