.Modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.Modal-close {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
}


.Modal-close:before {
	content: 'x';
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	padding: 16px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	cursor: pointer;
}

.Modal-content {
	position: relative;
	background-color: var(--color-tertiary);
	min-height: 400px;
	min-width: 320px;
	height: 80%;
	width: 80%;
}