.Infos {
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Infos__player {
	height: auto;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Infos__player__current-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Infos__player__current-cards__card {
	position: relative;
	height: 215px;
	width: 150px;
	margin: 15px;
	background-color: var(--color-dark);
	color: var(--color-tertiary);
	font-weight: 600;
	font-size: 20px;
	border-radius: 5px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.Infos__player__current-cards__card--is-selectable::before,
.Infos__player__current-cards__card--is-selected::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: green;
	opacity: 0.3;
}


.Infos__player__current-cards__card--is-selected::after {
	background-color: lime;
}

.Infos__player__current-cards__card__selected-index {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 16px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: black;
}

.Infos__player__action-six-info {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

.Infos hr {
	display: block;
	border: none;
	background-color: var(--color-tertiary);
	opacity: 0.22;
	height: 1px;
	width: 80%;
}

.Infos__history {
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.Infos__history__message {
	color: var(--color-tertiary);
	padding: var(--gutter-sm);
	font-size: 18px;
	font-weight: semi-bold;
}
.Infos__history__message--kill {
	color: red;
}
.Infos__history__message--win {
	color: green;
}

.Infos__action {
	background-color: var(--color-primary);
	color: var(--color-white);
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	margin-top: auto;
}