#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
}


.App {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	min-height: 0;
	height: 100%;
	background: var(--color-tertiary);
	color: var(--color-primary);
}

.App-header {
	background: var(--color-primary);
	color: white;
	flex: 0 0 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 500;
}

p {
	margin: 0;
}