:root {
	--color-primary: darkblue;
	--color-tertiary: lightblue;
	--color-white: white;
	--gutter-xs: 4px;
	--gutter-sm: 8px;
	--gutter-md: 12px;
	--gutter-base: 16px;
	--gutter-lg: 24px;
	--gutter-xl: 32px;
}

button {
	background-color: var(--color-primary);
	border: 1px solid transparent;
	color: var(--color-white);
	height: 50px;
	padding: 0 30px;
	cursor: pointer;
	margin: 5px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: none;
	transition: all 250ms linear;
}

button:hover {
	background-color: var(--color-white);
	border-color: var(--color-primary);
	color: var(--color-primary);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}

.input {
	outline: none;
	border-width: 0 0 2px 0;
	background-color: transparent;
	border-color: black;
	border-style: solid;
	font-size: 16px;
	line-height: 24px;
}

.input:focus {
	border-color: rgb(100, 100, 250);
}

a {
	cursor: pointer;
	color: var(--color-white);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}