.AppHeader {
	flex: 0 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	color: var(--color-tertiary);
	height: 50px;
	width: 100%;
}

.AppHeader__redirect-back {
	padding: 0 8px;
	font-size: 20px;
	line-height: 1;
	cursor: pointer;
	font-weight: bold;
	z-index: 1;
}

.AppHeader__title {
	position: absolute;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 0;
}

.AppHeader__info {
	z-index: 2;
}