@keyframes active {
	0%, 100% {
		background-color: var(--color-primary);
	}
	50% {
		background-color: var(--color-light);
	}
}

.Player {
	background-color: var(--color-primary);
	height: 100%;
	width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.Player--alive {
	background-color: var(--color-primary);
}

.Player--dead {
	user-select: none;
	opacity: 0.3;
}

.Player--active {
	background-color: var(--color-primary);
	animation: active 1.5s linear infinite alternate;
}

.Player--selectable {
	cursor: pointer;
	
}

.Player-name {
	position: relative;
	font-size: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	text-align: center;
	color: var(--color-tertiary);
	padding: 10px 0;
	width: 100%;
}

.Player-name::before {
	content: '';
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	height: 1px;
	background-color: var(--color-tertiary);
}

.Player-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 60px;
}

.Player-card {
	height: 60px;
	width: 40px;
	border-radius: 3px;
	background-color: var(--color-tertiary);
	margin: 10px;
	transition: all 250ms linear;
}

.Player-used-cards {
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	overflow-x: auto;
}

.Player-used-card {
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 5px;
	background-color: transparent;
	border-radius: 50%;
	color: var(--color-tertiary);
	font-weight: bold;
	border: 2px solid var(--color-tertiary);
}

.Player-tokens {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: auto;
}

.Player-token {
	height: 10px;
	width: 10px;
	background-color: var(--color-tertiary);
	border: 2px solid var(--color-dark);
	border-radius: 50%;
	margin: 10px 5px;
}