.Room-love-letter {
	--color-primary: #771F30;
    --color-secondary: #40223A;
    --color-tertiary: #EED891;
    --color-dark: #350912;
    --color-shadow: #5E1523;
	--color-light: #b42f48;
	--color-white: #ffffff;
	
	background-color: var(--color-dark);
	color: var(--color-white);
	
	display: flex;
	flex-direction: column;
	height: 100%;	
}

.Room-love-letter * {
	font-family: 'Rochester';
}

.Room-love-letter__content {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: auto 500px;
	grid-template-rows: 100%;
	height: 100%;
	overflow: hidden;
}
.Room-love-letter__player__current-cards__card {
	flex: 0 0 auto;
	position: relative;
	background-color: #BFDFCF;
	border-radius: 10px;
	height: 210px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.Room-love-letter__player__current-cards__card.Room-love-letter__player__current-cards__card--is-selectable:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: green;
	opacity: 0.3;
}

.Room-love-letter__player__current-cards__card.Room-love-letter__player__current-cards__card--is-selected:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lime;
	opacity: 0.3;
}
.Room-love-letter__player__current-cards__card__selected-index {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 16px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: black;
}

.Room-love-letter__player__action-six-info {
	color: white;
	font-weight: bold;
	font-size: 24px;
}

.Room-love-letter-action-one-modal__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.Room-love-letter-action-one-modal__cards__card {
	object-fit: contain;
	width: 20%;
	padding: 8px;
	box-sizing: border-box;
	max-height: 50%;
	min-width: 150px;
}

.Room-love-letter-modal__card {
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

