.Home {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.Home__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  flex: 1 1 auto;
}
.Home__logo {
  height: 40vmin;
  transform-origin: 50% 50%;
  pointer-events: none;
  fill: var(--color-primary);
}

.Home-input {
	margin-bottom: 64px;
	width: 300px;
}

.Home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .Home__logo {
    animation: App-logo-spin infinite 8s ease-in-out;
  }
}


@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
    fill: var(--color-white);
  }
  20% {
  	transform: rotate(150deg);
  	fill: var(--color-primary);
  }
  40% {
  	transform: rotate(60deg);
  	fill: var(--color-white);
  }
  
  50% {
  	transform: rotate(-180deg);
  	fill: var(--color-white);
  }
  
  60% {
  	transform: rotate(100deg);
  	fill: var(--color-primary);
  }
  
  80% {
  	transform: rotate(300deg);
  	fill: var(--color-primary);
  }
  100% {
    transform: rotate(360deg);
    fill: var(--color-white);
  }
}
