.Rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.Rooms__redirect-home {
	padding: var(--gutter-sm);
}
.Rooms__room {
  padding: 15px;
  background-color: var(--color-primary);
  font-size: 20px;
  color: var(--color-white);
  cursor: pointer;
  border-radius: 2px;
  margin: 15px 0;
}

span {
  margin: 15px 0;
}