.Room {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.Room-waiting-players {
	flex: 1 1 0;
	align-self: stretch;
}

.Room-teams {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 64px;
}
.Room-teams-team {
	height: 80px;
	width: 80px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 32px;
	cursor: pointer;
}
.Room-teams-team--blue {
	background-color: blue;
}
.Room-teams-team--red {
	background-color: red;
}
.Room-players {
	display: flex;
	flex-direction: row;
	margin-bottom: 64px;
	
}

.Room-players-team {
	flex: 1 1 0;
	text-align: center;
	padding: 16px;
}


.Room-players-teams {
	margin-bottom: 16px;	
}

.Room-players-team--red {
	color: red;
}

.Room-players-team--red .Room-players-teams {
	border-bottom: 1px solid red;
} 

.Room-players-team--blue {
	color: blue;
}
.Room-players-team--blue .Room-players-teams {
	border-bottom: 1px solid blue;
}

.Room-players-team--spectator {
	color: black;
}
.Room-players-team--spectator .Room-players-teams {
	border-bottom: 1px solid black;
}

.Room-playing {
	text-align:center;
}